<app-progress-spinner-overlay *ngIf="isLoading"></app-progress-spinner-overlay>
<div class="h-25 bg-success text-white head-from">
  <div class="row">
    <div class="col-11 mt-2">
      <h1 class="pl-4">
        {{ isEdit ? ("suasv" | translate) : ("themsv" | translate) }}
      </h1>
      <!-- <h1 class="p-2">{{ "addbasetype" | translate }}</h1> -->
    </div>
    <div class="col-1 mt-2">
      <b class="text-white h2" (click)="closedialog()">X</b>
    </div>
  </div>
</div>
<form [formGroup]="myForm">
  <div class="row my-3 m-2">
    <div class="col-md-6 mb-2">
      <mat-form-field class="w-100">
        <mat-label>Tên sinh viên</mat-label>
        <input
          matInput
          formControlName="tenSV"
          placeholder="Vd: DI19V7A4"
          [(ngModel)]="tenSV"
          required
        />
        <mat-error
          *ngIf="myForm.get('tenSV')!.invalid && myForm.get('tenSV')!.touched"
          >Vui lòng nhập tên sinh viên !!</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <mat-label>Ngày sinh</mat-label>
        <!-- <p-calendar [(ngModel)]="date" matInput
          formControlName="ngaysinh"
          placeholder="Vd: 16/06/2001"></p-calendar> -->
        <input
          type="date"
          matInput
          formControlName="ngaysinh"
          placeholder="Vd: 16/06/2001"
          [(ngModel)]="ngaysinh"
          required
        />
        <mat-error
          *ngIf="
            myForm.get('ngaysinh')!.invalid && myForm.get('ngaysinh')!.touched
          "
          >Vui lòng nhập ngày sinh !!</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-md-6 mb-2">
      <mat-form-field class="w-100">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="Vd: dinhb1910364@student.ctu.vn"
          [(ngModel)]="email"
          required
        />
        <mat-error
          *ngIf="myForm.get('email')!.invalid && myForm.get('email')!.touched"
          >Vui lòng nhập email !!</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-md-6 mb-2">
      <mat-form-field class="w-100">
        <mat-label>Quê quán</mat-label>
        <input
          type="text"
          matInput
          formControlName="quequan"
          placeholder="Vd: long hậu, lai vung, đồng tháp"
          [(ngModel)]="quequan"
          required
        />
        <mat-error
          *ngIf="
            myForm.get('quequan')!.invalid && myForm.get('quequan')!.touched
          "
          >Vui lòng nhập quê quán !!</mat-error
        >
      </mat-form-field>
    </div>
    <!-- <div class="col-md-6">
      <mat-form-field class="w-100">
        <mat-label>Tên khoa</mat-label>
        <mat-select formControlName="khoaNameControl" required>
          <mat-option
            *ngFor="let khoa of danhSachTenKhoa"
            [value]="khoa.khoaId"
          >
            {{ khoa.khoaName }}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="khoaNameControl.hasError('required')">
          Vui lòng nhập tên khoa !!
        </mat-error>
      </mat-form-field>
    </div> -->

    <div class="col-md-6">
      <mat-form-field class="w-100">
        <mat-label>Tên lớp</mat-label>
        <mat-select formControlName="lopNameControl" required>
          <mat-option *ngFor="let lop of danhSachTenLop" [value]="lop.lopId">
            {{ lop.tenLop }}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="lopNameControl.hasError('required')">
          Vui lòng nhập tên lớp !!
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-card class="w-100">
        <mat-card-header>
          <mat-card-title>Giới tính</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-radio-group
            [(ngModel)]="gender"
            (change)="onGenderChange($event)"
          >
            <mat-radio-button [value]="'Nam'" [checked]="gender === 'Nam'"
              >Nam</mat-radio-button
            >
            <mat-radio-button [value]="'Nữ'" [checked]="gender === 'Nữ'"
              >Nữ</mat-radio-button
            >
          </mat-radio-group>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>
<div class="row m-3">
  <div class="col-md-12 mt-2 mb-2">
    <button
      class="btn btn-success float-right ml-2"
      *ngIf="!isEditMode"
      (click)="
        themSinhVien(
          tenSV,
          gender,
          ngaysinh,
          quequan,
          email,
          myForm.get('lopNameControl')?.value
        )
      "
    >
      {{ "add" | translate }}
    </button>

    <button
      class="btn btn-success float-right ml-2"
      *ngIf="isEditMode"
      (click)="
        suaSinhVien(
          maSV,
          tenSV,
          gender,
          ngaysinh,
          quequan,
          email,
          myForm.get('lopNameControl')?.value
        )
      "
    >
      {{ "edit" | translate }}
    </button>
    <button class="btn btn-primary float-right" (click)="refreshForm()">
      {{ "refresh" | translate }}
    </button>
    <button class="btn btn-danger mr-2 float-right" (click)="closedialog()">
      {{ "close" | translate }}
    </button>
  </div>
</div>
