<app-progress-spinner-overlay *ngIf="isLoading"></app-progress-spinner-overlay>
<div class="shadow p-2 mx-2 my-2 rounded">
  <div class="row">
    <div class="col-md-10">
      <h2 class="text-success m-0">Quản trị thông tin phiếu điểm</h2>
      <!-- <h2 class="text-success m-0">{{ "Mgtype" | translate }}</h2> -->
      <p>Danh mục > Nội dung phiếu điểm cán bộ</p>
      <!-- <p>{{ "path" | translate }}</p> -->
    </div>
    <div class="col-md-2 mt-3">
      <button
        class="ml-3 bg-success text-white"
        mat-raised-button
        (click)="openDialogthem()"
      >
        <mat-icon>add</mat-icon>{{ "add" | translate }}
      </button>
    </div>
  </div>
</div>
<div class="my-2 p-2">
  <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title class="text-success h5">
          {{ "search" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row">
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="searchName"
            [placeholder]="'keysearch' | translate"
            (keyup.enter)="searchLop()"
          />
        </div>
        <div class="col-md-6 align-center">
          <button
            class="mr-2"
            mat-raised-button
            color="primary"
            (click)="refreshSearch()"
          >
            <mat-icon>refresh</mat-icon>{{ "refresh" | translate }}
          </button>
          <button class="mr-2 t-search" mat-raised-button (click)="searchLop()">
            <mat-icon>search</mat-icon>{{ "search" | translate }}
          </button>
          <!-- <button class="mr-2" mat-raised-button (click)="exportToPdf()">
            <mat-icon> picture_as_pdf </mat-icon>Xuất PDF
          </button> -->
          <!-- <button class="btn btn-primary mr-2" (click)="refreshSearch()">
            <mat-icon class="pt-1">refresh</mat-icon>{{ "refresh" | translate }}
          </button>
          <button class="btn btn-success mr-2" (click)="searchLop()">
            <mat-icon class="pt-1">search</mat-icon>{{ "search" | translate }}
          </button> -->
          <!-- <button class="btn btn-info" (click)="exportData()">
            <mat-icon class="pt-1">arrow_downward</mat-icon> Export
          </button> -->
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="mat-elevation-z8 p-2 mt-2">
    <div class="line m-1 float-left"></div>
    <div class="row">
      <div class="col-8">
        <div>
          <h1>
            <b>Nội dung phiếu điểm dành cho cán bộ</b>
            <!-- <b>{{ "Base type" | translate }}</b> -->
          </h1>
        </div>
      </div>
      <div class="col-4">
        <!-- <mat-form-field class="float-right w-50">
          <mat-label>Bộ lọc</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Vd: Mia"
            #input
          />
          <mat-icon matSuffix>filter_alt</mat-icon>
        </mat-form-field> -->
      </div>
    </div>
    <div *ngIf="mucs.length != 0" class="mat-elevation-z8 p-2 m-2">
      <mat-tab-group>
        <mat-tab *ngFor="let muc of mucs">
          <ng-template mat-tab-label>
            {{ muc.tenMuc }}
            <!-- <mat-icon
              (click)="openDialogSua(tuan)"
              >edit</mat-icon
            > -->
            <!-- Hiển thị tên của tuần làm tiêu đề của tab -->
          </ng-template>
          <app-muc-danhgia-canbo [muc]="muc"></app-muc-danhgia-canbo>
          <!-- <app-congviec-sinhvien [tuan]="tuan"></app-congviec-sinhvien> -->
          <!-- Nội dung của từng tab -->

          <!-- Thêm nội dung khác tùy ý -->
        </mat-tab>
        <mat-tab
          ><ng-template mat-tab-label> Thêm mục mới </ng-template>
          <div class="h-25 bg-success text-white">
            <h1 class="pl-4 pt-2">Thêm mục mới</h1>
          </div>
          <form [formGroup]="myForm">
            <div class="row my-3 m-2">
              <div class="col-md-12">
                <mat-form-field class="w-100">
                  <mat-label>Tên mục</mat-label>
                  <textarea
                    matInput
                    formControlName="TenMuc"
                    placeholder="Vd: abc"
                    [(ngModel)]="TenMuc"
                    required
                  ></textarea>
                  <mat-error
                    *ngIf="
                      myForm.get('TenMuc')!.invalid &&
                      myForm.get('TenMuc')!.touched
                    "
                  >
                    Vui lòng nhập tên mục !!
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </form>
          <div class="row m-3">
            <div class="col-md-12 mt-2 mb-2">
              <button
                class="btn btn-success float-right ml-2"
                (click)="themMuc(TenMuc)"
              >
                {{ "add" | translate }}
              </button>

              <!-- <button
      class="btn btn-success float-right ml-2"
      *ngIf="isEditMode"
      (click)="suaLop(id, giangVien)"
    >
      {{ "edit" | translate }}
    </button> -->
              <button
                class="btn btn-primary float-right"
                (click)="refreshForm()"
              >
                {{ "refresh" | translate }}
              </button>
              <!-- <button class="btn btn-danger mr-2 float-right" (click)="closedialog()">
      {{ "close" | translate }}
    </button> -->
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
