.list-thongtin {
  margin-top: 4px;
  background-color: white;
  padding: 5px;
  border: solid rgb(180, 180, 180) 1px;
  border-radius: 5px;
}
.title {
  color: #317ac4;
  padding: 5px;
}
.thongtin {
  border: solid rgb(180, 180, 180) 1px;
  border-radius: 5px;
  padding: 5px;
  height: 435px;
}
.thongtin button {
padding: 3px;
}
