<app-galleria></app-galleria>
<div class="diemso">
  <div class="title">
    <h5>KẾT QUẢ THỰC TẬP CỦA TÔI</h5>
    <hr />
  </div>
  <div *ngIf="listKetQua">
    <p>Cơ quan thực tập: {{ listKetQua.donViThucTap.tenDvtt }}</p>
    <p>
      Thời gian bắt đầu thực tập: {{ listKetQua.dotThucTap.thoiGianBatDau }}
    </p>
    <p>
      Thời gian kết thúc thực tập: {{ listKetQua.dotThucTap.thoiGianKetThuc }}
    </p>
    <div *ngIf="listKetQua.trangThai != 2">
      <p>Trạng thái: Chưa hoàn thành</p>
    </div>
    <div *ngIf="listKetQua.trangThai == 2">
      <p>Trạng thái: Đã hoàn thành</p>
    </div>
    <h1 class="text-center">Điểm số</h1>
    <div *ngIf="listKetQua.diem == null"><h2 class="text-center">...</h2></div>
    <div *ngIf="listKetQua.diem != null"><h2 class="text-center">{{listKetQua.diem}}</h2></div>
  </div>
</div>
