<app-progress-spinner-overlay *ngIf="isLoading"></app-progress-spinner-overlay>
<div class="list-dk">
  <div class="title">
    <h5>ĐĂNG KÝ THỰC TẬP</h5>
    <hr />
  </div>
  <div *ngIf="thoi_gian_dang_ky">
    <h6 class="pl-2">
      - Thời gian đăng ký thực tập: Từ ngày ({{ thoi_gian_dang_ky[0].tgbd }} -
      {{ thoi_gian_dang_ky[0].tgkt }})
    </h6>
    <h6 class="pl-2 text-danger">
      (Chú ý: {{ thoi_gian_dang_ky[0].ghichu }} )
    </h6>
  </div>
  <div class="row">
    <div class="col-md-5">
      <form class="pl-2" (ngSubmit)="onSubmit()">
        <section>
          <div class="mb-2">
            <p-dropdown
              [options]="cities"
              [(ngModel)]="selectedCity"
              optionLabel="tenGV"
              [filter]="true"
              filterBy="tenGV"
              [showClear]="true"
              placeholder="Chọn giảng viên hướng dẫn"
              (onChange)="filterCities($event)"
              [style]="{ width: '100%' }"
            ></p-dropdown>
            <div *ngIf="showCityValidationError" class="text-danger">
              Vui lòng chọn giảng viên hướng dẫn.
            </div>
          </div>
          <div class="mb-2">
            <p-dropdown
              [options]="coquans"
              [(ngModel)]="selectedCoquan"
              [filter]="true"
              optionLabel="baiDang.donViThucTap.tenDvtt"
              [showClear]="true"
              placeholder="Chọn cơ quan thực tập"
              (onChange)="filterCoQuans($event)"
              [style]="{ width: '100%' }"
            ></p-dropdown>
            <div *ngIf="showCoquanValidationError" class="text-danger">
              Vui lòng chọn cơ quan thực tập.
            </div>
          </div>
          <div class="mb-2">
            <p-dropdown
              [options]="dots"
              [(ngModel)]="selectedDot"
              [filter]="true"
              optionLabel="tenDot"
              [showClear]="true"
              placeholder="Chọn đợt tập"
              (onChange)="filterDots($event)"
              [style]="{ width: '100%' }"
            ></p-dropdown>
            <div *ngIf="showDotValidationError" class="text-danger">
              Vui lòng chọn đợt thực tập.
            </div>
          </div>
        </section>
        <button
          *ngIf="!listKetQua"
          type="submit"
          class="btn btn-outline-primary w-100"
        >
          Đăng ký
        </button>
        <button
          *ngIf="listKetQua"
          disabled
          class="btn btn-outline-primary w-100"
        >
          Đã đăng ký
        </button>
      </form>
    </div>
    <div class="col-md-7">
      <div class="vertical-table pr-2">
        <table class="table">
          <tr>
            <td colspan="2">
              <h6 class="text-center text-head-table">Thông tin đăng ký</h6>
            </td>
          </tr>
          <tr>
            <td class="header">Mã đăng ký</td>
            <td>
              <b *ngIf="listKetQua"> {{ listKetQua.maKqtt }}</b>
              <b *ngIf="!listKetQua"> Chưa rõ</b>
            </td>
          </tr>

          <tr>
            <td class="header">Tên giảng viên</td>
            <td>
              <b *ngIf="listKetQua"> {{ listKetQua.giangVien.tenGV }}</b>
              <b *ngIf="!listKetQua"> Chưa rõ</b>
            </td>
          </tr>
          <tr>
            <td class="header">Tên cơ quan</td>
            <td>
              <b *ngIf="listKetQua"> {{ listKetQua.donViThucTap.tenDvtt }}</b>
              <b *ngIf="!listKetQua"> Chưa rõ</b>
            </td>
          </tr>
          <tr>
            <td class="header">Đợt thực tập</td>
            <td>
              <b *ngIf="listKetQua"> {{ listKetQua.dotThucTap.tenDot }}</b>
              <b *ngIf="!listKetQua"> Chưa rõ</b>
            </td>
          </tr>
          <!-- Thêm các cột tiêu đề và dữ liệu bên phải ở đây -->
        </table>
      </div>
    </div>
  </div>
  <button (click)="openHuongDanDialog()" class="btn-icon">
    <mat-icon>help</mat-icon> <i>Hướng dẫn đăng ký</i>
  </button>
  <!-- <p-password [(ngModel)]="value"
    ></p-password> -->
</div>
