h2.text-success {
  position: relative;
  display: inline-block;
}

h2.text-success:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  transform: translateX(-50%);
  width: 80%; /* Điều chỉnh chiều rộng của gạch chân */
  height: 2px;
  background-color: yellow;
  opacity: 0.5;
}
h2.text-center {
  /* Thêm các styles khác nếu cần */
  text-align: center;
}
