.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-size: 24px;
  color: rgb(255, 255, 255);
  transition: color 0.3s ease;
}

.close-button:hover {
  color: #ff0000;
}
.btn-header {
  background-color: #317ac4;
}
.img-container {
  display: flex; /* Sử dụng flexbox để căn giữa */
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  height: 300px; /* Điều chỉnh chiều cao container theo ý muốn */
}

.centered-image {
  max-width: 100%; /* Đảm bảo ảnh không vượt quá kích thước container */
  max-height: 100%; /* Đảm bảo ảnh không vượt quá kích thước container */
  display: block; /* Loại bỏ dư thừa khoảng trắng dưới ảnh */
  margin: 0 auto; /* Căn giữa ảnh trong container */
}

