<div class="body-main">
  <div class="title">
    <h5>ĐÁNH GIÁ SINH VIÊN</h5>
    <hr />
  </div>
  <div class="p-dg-coquan mb-3">
    <div class="title">
      <h5 class="text-center">ĐÁNH GIÁ CỦA CƠ QUAN</h5>
      <hr />
    </div>
    <div class="row text-center">
      <div class="col-md-6">
        <h6>PHIẾU ĐÁNG GIÁ</h6>
        <div class="container">
          <div class="image-container">
            <img src="../../../assets/imgs/PDG.png" alt="" height="300px" />
            <button class="xem-chitiet" (click)="opendialogpdg(elements)">
              Xem chi tiết
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h6>PHIẾU THEO DÕI</h6>
        <div class="container">
          <div class="image-container">
            <img src="../../../assets/imgs/PTD.png" alt="" height="300px" />
            <button class="xem-chitiet" (click)="opendialogptd(elements)">
              Xem chi tiết
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-danhgia">
    <h4 class="text-center">PHIẾU ĐÁNH GIÁ BÁO CÁO KẾT QUẢ THỰC TẬP</h4>
    <h4 class="text-center">{{ elements.dotThucTap.tenDot }}</h4>
    <h6 class="text-center">(Dùng cho giáo viên chấm báo cáo thực tập)</h6>
    <div class="container pt-3">
      <p>
        Họ và tên cán bộ chấm báo cáo: <b>{{ elements.giangVien.tenGV }}</b>
      </p>
      <p>
        Họ tên sinh viên thực tập: <b>{{ elements.sinhVien.tenSV }}</b>
        <span class="pl-5">Mã số SV:</span> {{ elements.sinhVien.maSV }}
      </p>
      <div class="">
        <!-- <table class="table table-striped border table-inverse">
          <thead class="thead-inverse">
            <tr>
              <th class="text-center">Nội dung đánh giá</th>
              <th class="text-center">Điểm tối đa</th>
              <th class="text-center">Chấm điểm</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tableData">
              <td scope="row">{{ item.noiDungPDGV }}</td>
              <td>{{ item.diemMax }}</td>
              <td>{{ item.mucDG.mucId }}</td>
              <td>
                <input
                  [(ngModel)]="item.diem"
                  type="number"
                  min="0"
                  max="{{ item.diemToiDa }}"
                  step="0.1"
                />
              </td>
            </tr>
          </tbody>
        </table> -->
        <form [formGroup]="myForm">
          <table class="table table-bordered">
            <thead class="thead-inverse">
              <tr>
                <th class="text-center">Nội dung đánh giá</th>
                <th class="text-center w-25">Điểm tối đa</th>
                <th class="text-center w-25">Chấm điểm</th>
              </tr>
            </thead>
            <tbody>
              <ng-container
                *ngFor="let bieuMau of listBieuMau | filter; let i = index"
              >
                <tr class="group-row">
                  <td>{{ i + 1 }}. {{ bieuMau.mucDG.tenMuc }}</td>
                  <td>
                    <b>{{
                      getTotalMaxScoreForSection(bieuMau.mucDG.tenMuc)
                    }}</b>
                  </td>
                  <td></td>
                </tr>
                <tr
                  *ngFor="
                    let item of listBieuMau
                      | filterByMuc : bieuMau.mucDG.tenMuc;
                    let j = index
                  "
                >
                  <td style="padding-left: 50px">
                    {{ i + 1 }}.{{ j + 1 }} {{ item.noiDungPDGV }}
                  </td>
                  <td class="text-center">{{ item.diemMax }}</td>
                  <td>
                    <mat-form-field class="float-right w-75">
                      <input
                        matInput
                        [formControlName]="'diem' + item.maPDGV"
                        (ngModelChange)="tinhTongDiem()"
                        type="number"
                        step="0.1"
                        min="0"
                        max="{{ item.diemMax }}"
                        required
                      />
                      <mat-error
                        *ngIf="
                          myForm
                            .get('diem' + item.maPDGV)!
                            .hasError('required') &&
                          myForm.get('diem' + item.maPDGV)!.touched &&
                          myForm.get('diem' + item.maPDGV)!.invalid
                        "
                      >
                        Vui lòng nhập điểm !!!
                      </mat-error>
                      <mat-error
                        *ngIf="
                          myForm.get('diem' + item.maPDGV)!.hasError('min') &&
                          myForm.get('diem' + item.maPDGV)!.touched
                        "
                      >
                        Điểm > 0 !!!
                      </mat-error>
                      <mat-error
                        *ngIf="
                          myForm.get('diem' + item.maPDGV)!.hasError('max') &&
                          myForm.get('diem' + item.maPDGV)!.touched
                        "
                      >
                        Điểm =< {{ item.diemMax }} !!!
                      </mat-error>
                    </mat-form-field>
                  </td>
                </tr>
              </ng-container>
              <tr class="group-row">
                <td class="text-center w-75">Cộng</td>
                <td class="text-center">
                  {{ getTotalMaxScoreForAllSections() }}
                </td>
                <td>
                  <input
                    class="float-right w-75 text-center"
                    type="text"
                    [value]="tongDiem"
                    readonly
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
      <div class="footer-from">
        <button
          class="btn btn-primary float-right mt-2 mr-2"
          (click)="submitDiem()"
        >
          Thực hiện
        </button>
      </div>
      <p class="footer">
        Phiếu này đóng vào cuốn báo cáo, không nộp cho cơ quan
      </p>
    </div>
  </div>
</div>
