<div class="surface-ground px-3 md:px-6 lg:px-8">
  <div class="grid">
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">Sinh viên</span>
            <div class="text-900 font-medium text-xl">{{ sl_sinhvien }}</div>
          </div>
          <div
            class="flex align-items-center justify-content-center bg-blue-100 border-round"
            style="width: 2.5rem; height: 2.5rem"
          >
            <i class="pi pi-user text-blue-500 text-xl"></i>
          </div>
        </div>
        <span class="text-green-500 font-medium">{{sl_sinhvien_cdk}} sinh viên </span>
        <span class="text-500"> chưa đăng ký</span>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">Giảng viên</span>
            <div class="text-900 font-medium text-xl">{{ sl_giangvien }}</div>
          </div>
          <div
            class="flex align-items-center justify-content-center bg-orange-100 border-round"
            style="width: 2.5rem; height: 2.5rem"
          >
            <i class="pi pi-book ker text-orange-500 text-xl"></i>
          </div>
        </div>
        <span class="text-green-500 font-medium">{{ sl_giangvien }} </span>
        <span class="text-500"> giảng viên</span>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">Đơn vị</span>
            <div class="text-900 font-medium text-xl">{{sl_donvi}}</div>
          </div>
          <div
            class="flex align-items-center justify-content-center bg-cyan-100 border-round"
            style="width: 2.5rem; height: 2.5rem"
          >
            <i class="pi pi-users text-cyan-500 text-xl"></i>
          </div>
        </div>
        <span class="text-green-500 font-medium">{{sl_donvi}} </span>
        <span class="text-500"> đơn vị</span>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">Bài đăng</span>
            <div class="text-900 font-medium text-xl">{{sl_baidang}}</div>
          </div>
          <div
            class="flex align-items-center justify-content-center bg-purple-100 border-round"
            style="width: 2.5rem; height: 2.5rem"
          >
            <i class="pi pi-instagram text-purple-500 text-xl"></i>
          </div>
        </div>
        <span class="text-green-500 font-medium">{{sl_baidang}} </span>
        <span class="text-500"> bài đăng</span>
      </div>
    </div>
  </div>
</div>
<div class="container w-100">
  <p-chart [type]="'bar'" [data]="data" [options]="options"></p-chart>
</div>

<!-- <div class="row">
  <div class="col-md-7 p-5">
    <p-chart  [type]="'bar'" [data]="data" [options]="options"></p-chart>
  </div>
  <div class="col-md-5 p-5">
    <div class="card flex justify-content-center">
      <p-chart type="pie" [data]="data" [options]="options"></p-chart>
    </div>
  </div>
</div> -->
