<app-progress-spinner-overlay *ngIf="isLoading"></app-progress-spinner-overlay>
<div class="h-25 bg-success text-white head-from">
  <div class="row">
    <div class="col-11 mt-2">
      <h1 class="pl-4">
        {{ isEdit ? "Phân công giảng viên" : "Thay đổi giảng viên" }}
      </h1>
      <!-- <h1 class="p-2">{{ "addbasetype" | translate }}</h1> -->
    </div>
    <div class="col-1">
      <b class="text-white h2" (click)="closedialog()">X</b>
    </div>
  </div>
</div>
<form [formGroup]="myForm">
  <div class="row my-3 m-2">
    <!-- <div class="col-md-6 mb-2">
      <mat-form-field class="w-100">
        <mat-label>Tên lớp</mat-label>
        <input
          matInput
          formControlName="tenLop"
          placeholder="Vd: DI19V7A4"
          [(ngModel)]="tenLop"
          required
        />
        <mat-error
          *ngIf="myForm.get('tenLop')!.invalid && myForm.get('tenLop')!.touched"
          >Vui lòng nhập tên lớp !!</mat-error
        >
      </mat-form-field>
    </div> -->

    <div class="col-md-12">
      <!-- <mat-label>Tên khoa</mat-label>
        <input
          matInput
          formControlName="khoaName"
          [(ngModel)]="khoaName"
          required
        /> -->
      <mat-form-field class="w-100">
        <mat-label>Tên giảng viên</mat-label>
        <mat-select formControlName="giangVien" required>
          <mat-option
            *ngFor="let giangvien of danhSachTenGiangVien"
            [value]="giangvien.maGV"
          >
            {{ giangvien.tenGV }}
          </mat-option>
        </mat-select>

        <mat-error
          *ngIf="giangVien.hasError('required')">
          Vui lòng nhập tên giảng viên !!
        </mat-error>
      </mat-form-field>

      <!-- <mat-form-field class="w-100">
        <input
          matInput
          formControlName="code"
          [(ngModel)]="code"
          placeholder="Số điện thoại"
          required
        />
        <mat-error
          *ngIf="myForm.get('code')!.invalid && myForm.get('code')!.touched"
          >Vui lòng nhập số điện thoại !!</mat-error
        >
      </mat-form-field> -->
    </div>
  </div>
</form>
<div class="row m-3">
  <div class="col-md-12 mt-2 mb-2">
    <button
      class="btn btn-success float-right ml-2"
      *ngIf="!isEditMode"
      (click)="themLop(id, myForm.get('giangVien')?.value)"
    >
      {{ "add" | translate }}
    </button>

    <button
      class="btn btn-success float-right ml-2"
      *ngIf="isEditMode"
      (click)="suaLop(id, myForm.get('giangVien')?.value)"
    >
      {{ "edit" | translate }}
    </button>
    <button class="btn btn-primary float-right" (click)="refreshForm()">
      {{ "refresh" | translate }}
    </button>
    <button class="btn btn-danger mr-2 float-right" (click)="closedialog()">
      {{ "close" | translate }}
    </button>
  </div>
</div>
