<div class="list-dangki">
  <div class="title">
    <h5>CÔNG VIỆC CỦA TÔI</h5>
    <hr />
  </div>
  <div >
<div *ngIf="tuans.length != 0">
  <mat-tab-group>
    <mat-tab *ngFor="let tuan of tuans">
      <ng-template mat-tab-label>
        {{ tuan.ten_tuan }} <br />
        ({{ tuan.batdau }}) - ({{ tuan.hethan }})
        <!-- <mat-icon (click)="openDialogSua(tuan)">edit</mat-icon> -->
        <!-- Hiển thị tên của tuần làm tiêu đề của tab -->
      </ng-template>
      <!-- <h1>{{tuan.id_tuan}}</h1> -->
      <app-congviec-tuan [tuan]="tuan"></app-congviec-tuan>
      <!-- <app-congviec-sinhvien [tuan]="tuan"></app-congviec-sinhvien> -->
      <!-- Nội dung của từng tab -->

      <!-- Thêm nội dung khác tùy ý -->
    </mat-tab>
  </mat-tab-group>
</div>
  </div>
</div>
