
.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-size: 24px;
  color: #333; /* Màu của nút đóng */
  transition: color 0.3s ease; /* Hiệu ứng màu khi hover */
}

.close-button:hover {
  color: #ff0000; /* Màu khi hover */
}
